.container {
  margin: 20px;
}

.title {
  font-size: 44px;
  font-weight: bold;
  margin-left: 800px;
  color: azure;
}

.movieList {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
 
  margin: 20px 0px 20px 160px;

}

.movieItem {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.movieImage {
  width: 250px;
  height: 300px;
  object-fit: cover;
  margin-left: 10px;
}

.movieInfo {
  display:flex;
  flex-direction: column;
  text-align: center;
  margin-top: 10px;
}

.movieTitle {
  font-weight: bold;
  font-size:large;
  color: #eed6d6;
}

.movieRating {
  color: #b6a4a4;
}
