.container {
  margin-top: 20px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.list {
  list-style: none;
  padding: 0;
}

.movie {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.movieImage {
  width: 100px;
  height: 150px;
  object-fit: cover;
  margin-right: 10px;
}

.movieInfo {
  flex-grow: 1;
}

.movieTitle {
  font-size: 18px;
  font-weight: bold;
}

.movieRating {
  font-size: 14px;
  color: gray;
}
