/* Layout.module.css */
.layoutContainer {
  padding: 20px;
  /* background-color: #b9b3afb7; */
  background-image: url("./../../public/wp1916278-the-martian-wallpapers.jpg");
  background-size:cover;
  display: flex;
  flex-direction: column;
  min-height: 94vh;

}

.demoNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.demoNav a {
  margin-right: 10px;
}

.globalSearch {
  width: 300px;
}

.content {
  flex: 1;
  padding: 24px;
  width: 80%;
  margin: 0 auto;
  background-color: #8f7f7f79;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.activeButton {
  background-color: #f0f0f0; /* Change to the desired color for the active button */
  color: #1890ff; /* Change to the desired text color for the active button */
}
.breadcrumbWrapper {
  margin-bottom: 16px;
  color: black;
}

.logoutBtn {
  margin-left: 10px;
}

.movieList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.movieCard {
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.movieCard img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 4px;
}

.movieCard h3 {
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
}

.movieCard p {
  margin-top: 5px;
  font-size: 14px;
  color: #888;
}
