.row {
    display: flex;
    flex-wrap: wrap;
    margin: 16px;
    margin-left: 60px;
  }
  
  .card {
    width: 250px;
    margin: 16px;
    
  }
  
  .watchlist-title h1 {
    font-size: 24px;
    margin-bottom: 16px;
  }
  
  @media (max-width: 576px) {
    .card {
      width: 100%;
      margin: 16px 0;
    }
  }
  