.container {
    margin: 20px;
  }
  
  .title {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 440px;

  }
  
  .list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .movie {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .movieTitle {
    margin-right: 10px;
    font-weight: bold;
  }
  
  .movieViews {
    color: #888;
  }
  