.row {
  display: flex;
  justify-content: center;
  
}

.card {
  margin: 16px;
  width: 250px; 
  
 
  
}

@media (max-width: 768px) {
  .card {
    width: 240px;
  }

  .card img {
    height: 240px;
  }
}
.addedWatchlistButton
{
  background-color:rgb(166, 166, 195);
  color:white;
}






/* span{
  color:azure;
} */
