
.videoCard {
    margin-top: 20px;
  }
  
  .video-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%; 
  }
  
  .video-player {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .movie-card {
    cursor: pointer;
  }
  
  .movie-title {
    text-align: center;
    margin-top: 8px;
  }

  
.videoPlayerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50vh; 
}

.reactPlayer {
  width: 80%;
  height: 100%;
}
.MovieList_row__RLN9n {
  display: flex;
  justify-content: center;
  height:60vh;
  color:azure

}
  