

.movieLayout {
    height: 100%;
  }
  
  .movieHeader {
    text-align: center;
    color: #fff;
    background-color: #7dbcea;
  }
  
  .movieSider {
    text-align: center;
    color: #fff;
    background-color: #3ba0e9;
  }
  
  .movieContent {
    text-align: center;
    min-height: calc(100% - 64px - 120px); /* Subtract header and footer heights */
    line-height: 120px;
    color: #fff;
    background-color: #108ee9;
  }
  
  .movieFooter {
    text-align: center;
    color: #fff;
    background-color: #7dbcea;
  }
  