.movie-card {
    cursor: pointer;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: box-shadow 0.3s ease;}

  
   .movie-card:hover {
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    }
  
    .movie-title {
      margin-bottom: 0;
      text-align: center;
      font-size: 18px;
      font-weight: bold;
      padding: 8px;
    }
  
  .video-card {
    margin-top: 16px;}
  
.video-container {
      position: relative;
      padding-top: 56.25%;
      overflow: hidden;
    }
  
    .video-player {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
